:root {
    /* Colors */
    --color-primary: #5d4037;
    --color-secondary: #4CAF50;
    --color-accent: #ffc107;
    --color-text: #212121;
    --color-text-light: #fff;
    --color-background: #fff;
    /* Fonts */
    --title-font: 'Poppins', 'Montserrat', sans-serif;
    --text-font: 'Lora', 'Open Sans', serif;
}

/* Reset css */
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-text);
    font-family: var(--text-font);
}

p {
    margin-bottom: 20px;
}

html {
    font-size: 16px;
    font-family: var(--text-font);
    overflow-x: hidden !important;
    width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
    text-transform: uppercase;
    margin: 0;
}

h1, h2 {
    color: var(--color-primary);
    font-size: 2.5rem;
    margin-bottom: 30px;
}

h3, h4, h5, h6 {
    color: var(--color-secondary);
    text-transform: uppercase; 
    font-size: 1.3rem;
}

body {
    
    background-color: var(--color-background);
    color: var(--color-text);
    overflow-x: hidden !important;
    width: 100%;
    position: relative;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
.bg-image {
    background-image: url('https://picsum.photos/2000/2000');
    background-size: cover;
    min-height: 300px;
    background-position: center;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.right {
    text-align: right;
    flex-direction: row-reverse;
}

.align-center {
    text-align: center;
}
.align-left {
    text-align: left;
}
.caption {
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 30px;
}

/* Animation */
[data-aos] {
    will-change: transform, opacity;
}

/* Les Boutons */
.btn-1 {
    display: inline-block;
    padding: 10px 25px;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    margin: 20px 0;
    border-radius: 30px;
    color: var(--color-text-light);
    transition: all 0.3s ease;
}
.btn-1:hover {
    background-color: var(--color-primary);
}

.btn-2 {
    display: inline-block;
    margin: 0 auto;
    padding: 10px 40px;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    margin: 20px 0;
    border-radius: 30px;
    color: var(--color-text-light);
    transition: all 0.3s ease;
}

/*Overlay rotatif */
.bg-image {
    position: relative;
    overflow: hidden; /* Pour éviter que l'overlay dépasse */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Couleur d'origine */
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.bg-image:hover .overlay {
    transform: rotate(360deg); /* Rotation de l'overlay */
    opacity: 0; /* Disparition progressive */
}

/*
    * Header
*/

#header {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% de la hauteur de la viewport */
  }

/* top bar */
#topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
    padding: 10px 20px;
}

/* Logo */
.logo img {
    width: 100px;
    height: 80px;
}

/* Block Media*/
.block-media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.media-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
}
.media-item:hover {
    background-color: var(--color-primary);
    scale: 1.1;
}

.media-item span {
    color: var(--color-text-light);
    font-size: 1.2rem;
}

/* Block Devis - Call */

.block-devis-call {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 20px;
}

.devis {
    transition: all 0.3s ease;
}
.devis:hover {
    transform: scale(1.2);
    rotate: 360deg;
}

.devis img {
    width: 50px;
    height: 50px;
    
}


.btn-call {
    background-color: var(--color-secondary);
    color: var(--color-text-light);
    padding: 10px 20px;
    border-radius: 30px;
    transition: all 0.3s ease;
}
.btn-call:hover {
    background-color: var(--color-primary);
    scale: 1.1;
}

/* Navbar */
#navbar {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: var(--color-primary);
    padding: 0 20px;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease-in-out; /* Animation fluide */
}

/* Quand on scrolle plus de 60px, elle devient fixe */
#navbar.fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/* Navigation Links */
.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 0;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    color: var(--color-text-light);
    font-family: var(--title-font);
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: color 0.3s;
}

/* Effet soulignement */
.nav-links a::after {
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background:var(--color-secondary);
    transition: width 0.3s;
}

.nav-links a:hover::after {
    width: 100%;
}

/* Dropdown */
.dropdown-menu {
    text-align: center;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    color: var(--color-primary);
    width: 100%;
    transform: scaleY(0);
    transform-origin: top; /* L'animation part du haut */
    opacity: 0;
    pointer-events: none; /* Empêche les interactions quand il est masqué */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.dropdown-menu li {
    border-bottom: 1px solid #ddd;
}

.dropdown-menu a {
    color: black;
    padding: 10px;
}

.dropdown:hover .dropdown-menu {
    transform: scaleY(1);
    opacity: 1;
    pointer-events: auto;
}

/* Mobile Styles */
.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: var(--color-secondary);
    font-size: 1.5rem;
    cursor: pointer;
}

/* Hero Section */
#hero-section {
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.393)), 
                url('../images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items:flex-end;
    padding: 10px 10px 10px 10px;
    height: 100%;
}
#hero-section .wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 24px;
}

#hero-section .wrapper p {
    color: var(--color-background);
    font-family: var(--title-font);
}

.title1 {
    font-size: 2.5rem;
    font-weight: bold;
}

#hero-section .wrapper p {
    text-align: center;
}

#hero-section .wrapper a {
    font-size: 18px;
    color: var(--color-background);
    padding: 5px 40px;
    border: 1px solid var(--color-background);
    border-radius: 30px;
    transition: all 0.3s ease;
}
#hero-section .wrapper a:hover {
    background-color: var(--color-background);
    color: var(--color-primary);
}

/*
   *Main
*/
/*Section présentation*/
#presentation {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 100px 0;
   
}

.presentation-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
}




.presentation-container article {
    flex:1;
}

.presentation-container .block-img {
    flex: 1;
    border-radius: 30px;
}

/* Section Reassurence */
#reassurance {
    width: 100%;
    background-color: #ede2de;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Conteneur du slider */
.slider-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 20px;
}

/* Slider */
.slider {
    display: flex;
    justify-content: flex-start;
    animation: slide 15s infinite linear;
}

/* Cartes */
.card {
    width: 300px;
    background-color: rgba(0, 0, 0, 0);
    color: var(--color-background);
    padding: 10px;
    text-align: center;
    border-radius: 0;
    border: none;
    transition: all 0.3s ease;
    margin-right: 20px;
    /* Fixe la taille des cartes */
    min-width: 300px;
    max-width: 300px;
    box-sizing: border-box;
}

.card:hover {
    transform: translateY(-5px);
}

/* Icônes */
.card-icon {
    font-size: 50px;
    color: var(--color-primary);
    margin-bottom: 10px;
}

/* Titres */
.card-title {
    font-family: var(--title-font);
    color: var(--color-primary);
    font-size: 20px;
    font-weight: bold;
}

/* Texte */
.card-text {
    font-family: var(--text-font);
    color: black;
    font-size: 14px;
    opacity: 0.8;
}
/* Animation de carrousel (uniquement vers la gauche) */
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

/* Section prestation */
#prestation {
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 100px 0;
   
}

.prestation-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.prestation-container article {
    flex:  2;
}

.prestation-container .block-img {
    flex: 1;
    border-radius: 30px;
}

/* 
    * Section Projets
*/
#section-projets {
    padding-bottom:100px;
  }

.carrousel {
    width: 100%;
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    position: relative;
}

.navigation {
    font-size: 50px;
    color: var(--color-primary);
    position: absolute;
    opacity: 0.3;
    transition: all 0.3s ease;
}

.projet-container {
    display: flex;
    justify-content:center;
    flex-direction: row;
    gap: 30px;
}

.projet {
    min-width: 300px;
    max-width: 350px;
    overflow: hidden;
    position: relative;
    padding: 10px;
    border-radius: 30px;
    transition: all 0.3s ease;
}

.projet img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border: 1px solid rgb(199, 199, 199);
    transition: transform 0.5s ease-in-out;
}

.projet:hover img {
    transform: scale(1.1);
}


.projet-content {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);    
    text-align: center;
    background-color: var(--color-background);
    padding: 10px;
}

.projet-container img {
    border-radius: 20px 20px 0px 0px;
}

.projet-container .projet-content {
    border-radius: 0px 0px 20px 20px;
}
.navigation:hover {
    opacity: 1;
}
.prev {
    left: 10px;
}
.next {
    right: 10px;
}
.navigation {
    display: none;
}


/*  ----------------- Section parralaxe ----------------- */

.parallax {
    background-image: url("https://picsum.photos/1900/1000");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-content {
    height: 100%; 
    display: flex;
    align-items: stretch;
    align-items: center;
    justify-content: end;
    padding: 0 100px;
}

.text-parallax {
    width: 40%; 
    padding: 0 20px;
    background: rgba(255, 255, 255, 0.7); /* Optionnel : pour rendre le texte plus lisible */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 0;
}


/*  ----------------- Section footer ----------------- */

#footer {
    background-color: var(--color-primary);
    color: var(--color-background);
    padding: 50px 0;
}
#footer p, #footer a, #footer .fa, #footer h3 {
    color: var(--color-background);
}
#footer h3 {
    font-size: 16px;
}
.logo-footer {
   width: 200px;
}

.reviews img {
   width: 100px;
}

.block-footer { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 30px;
}

.footer-item {
    flex: 1 1 20%; /* Par défaut, deux blocs par ligne */
}

.block-copyright {
    flex-wrap: wrap;
}
.block-copyright .footer-item {
    flex: 1;
    text-align: center;
}

.item-text, .item-nav, .item-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.block-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

/*
   *Responsive 
*/

/* tablet */
@media screen and (max-width: 1024px) {
    .wrapper {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 10px;
    }
    .right {
        text-align: right;
        flex-direction: column-reverse;
    }
    .bg-image {
        min-height: 400px;
    }

    /*
        *Main
    */

    /*Section présentation*/
    .presentation-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /*Section prestation*/
    .prestation-container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    /* Section Projets */
    .navigation {
        display: block;
    }

    /* Section parallax */
    .parallax-content {
        justify-content: end;
        padding: 0 30px;
    }
    
    .text-parallax {
        width: 60%; 
        margin-bottom: 0;
    }

    /* Section footer */
    .footer-item {
        flex: 1 1 45%; /* Chaque bloc prend environ 45% pour rester sur deux colonnes */
    }
}

/* 
    * Mobile
*/
@media screen and (max-width: 768px) {
    h1, h2 {
        color: var(--color-primary);
        font-size: 2rem;
    }
    
    h3, h4, h5, h6 {
        color: var(--color-secondary);
        text-transform: uppercase; 
        font-size: 1.1rem;
    }
    .title1 {
        font-size: 2rem;
        font-weight: bold;
    }
    /*
        * Header
    */

    /* top bar */

    #topbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        gap: 20px;
        padding: 10px 10px;
    }

    /* Block Media - */
    .block-media {
        display: none;
        gap: 15px;
    }
    .media-item {
        width: 25px;
        height: 25px;
    }

    .media-item span {
        color: var(--color-text-light);
        font-size: 1rem;
    }

 

    /* Block Devis - Call */

    .block-devis-call {
        display: none;
    }

    .devis img {
        width: 40px;
        height: 40px;
        
    }


    .btn-call {
        display: none;
    }
    .btn-call:hover {
        background-color: var(--color-primary);
        scale: 1.1;
    }

     /* Toggle Button */
     .menu-toggle {
        display: block;
    }
    
    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: rgba(93, 64, 55, 0.95);
        flex-direction: column;
        align-items: center;
        transform: scaleY(0);
        transform-origin: top;
        opacity: 0;
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
        pointer-events: none; /* pour éviter les clics quand c'est masqué */
    }

    .nav-links li {
        width: 50%;
        text-align: center;
    }

    .nav-links a {
        padding: 15px;
        width: 100%;
        display: block;
    }
    
    /* Règle à ajouter pour afficher le menu lorsque .active est présent */
    .nav-links.active {
        transform: scaleY(1);
        opacity: 1;
        pointer-events: auto;
    }

    /* Dropdown en mobile */
    .dropdown-menu {
        position: static;
        width: 100%;
        background: rgba(255, 255, 255, 0.9);
        overflow: hidden;             
        max-height: 0;              
        transition: max-height 0.3s ease-in-out;
        box-shadow: none;
    } 

    .dropdown:hover .dropdown-menu,
    .dropdown.active .dropdown-menu {
        max-height: 300px;  /* Valeur à ajuster en fonction de la hauteur réelle du contenu */
    }

    /* Hero 
        * Main
    */
    /* Section parallax */
    .parallax-content { 
        padding: 0;
        justify-content: center;
    }
    
    .text-parallax {
        width: 90%; 
        margin-bottom: 0;
    }

    /* Section footer */
    .footer-item {
        flex: 1 1 100%; /* Chaque bloc prend toute la largeur */
        text-align: center; /* Centre le texte si nécessaire */
    }

    .block-copyright {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
}